<footer class="site-footer" role="contentinfo">

  <div class="wrapper">
    <ul class="social-icons">
      <li>
        <a href="/blogs/news">OUR BLOG</a>
      </li>
      <li class="social-icon facebook-icon">
        <a href="https://www.facebook.com/getfreehdtv" target="_blank"></a>
      </li>
      <li class="social-icon twitter-icon">
        <a href="https://twitter.com/BreakingCable" target="_blank"></a>
      </li>
    </ul>
  </div>

</footer>