{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

{% comment %}
  Use class grid-uniform to have evenly sized columns clear
  each other properly at each breakpoint.
{% endcomment %}
<div class="grid">

  <div class="grid-item large--one-half">
    <div class="corner"></div>
    <div class="quote">
      <h3>This is the best picture I have ever seen.</h3>
      <h4>Jody Miller</h4>
    </div>
  </div>

  <div class="grid-item large--one-half">
    <div class="corner right"></div>
    <div class="quote right">
      <h3>This is the best picture I have ever seen.</h3>
      <h4>Jody Miller</h4>
    </div>
  </div>

</div>

<div class="grid">

  <div class="grid-item large--one-third">
    <div class="cornered"></div>
      <div class="features-wrapper">
        <div class="features">
          <span class="numeral">1</span>
          <span class="feature-icon one"></span>
          <hr>
          <h3>Pick Your Antenna</h3>
          <hr>
          <p>We'll come to your house or apartment to install an indoor antenna and for true <span class="highlight">HD FOR FREE</span></p>
      </div>
    </div>
  </div>

  <div class="grid-item large--one-third">
    <div class="cornered"></div>
      <div class="features-wrapper">
        <div class="features">
          <span class="numeral">2</span>
          <span class="feature-icon two"></span>
          <hr>
          <h3>Add-Ons</h3>
          <hr>
          <p>Customize your HD experience. Netflix, Youtube, popular HD demand.</p>
      </div>
    </div>
  </div>

  <div class="grid-item large--one-third">
    <div class="cornered"></div>
      <div class="features-wrapper">
        <div class="features">
          <span class="numeral">3</span>
          <span class="feature-icon three"></span>
          <hr>
          <h3>Title</h3>
          <hr>
          <p>Copy</p>
      </div>
    </div>
  </div>

</div>
