{% comment %}

  This page represents the /collections and /products pages.
  It is an optional, but highly recommended, template for your theme.

  More info:
    - http://docs.shopify.com/manual/configuration/store-customization/taking-control-of-collections-listing

{% endcomment %}

{% comment %}
{% include 'breadcrumb' %}
{% endcomment %}

<header class="page-header">
  <h2>Catalogue</h2>
</header>

<div class="grid-uniform">

  {% comment %}
    Loop through each collection, except 'frontpage'
  {% endcomment %}
  {% for collection in collections %}

    {% unless collection.handle == 'frontpage' %}

      {% include 'collection-grid-item' %}

    {% endunless %}

  {% endfor %}

</div>

<hr/>

<h3>Featured</h3>

<div class="grid-uniform">
  {% comment %}
    Add a showcase (featured product)
  {% endcomment %}
  <div id="showcase">
    {% if collections.frontpage.products.size > 0 %}
      {% capture index %}{{ 'now' | date: '%S' | times: collections.frontpage.products.size | divided_by: 60 }}{% endcapture %}
      {% for product in collections.frontpage.products offset:index limit:1 %}
        {% include 'product-list-item' %}
      {% endfor %}
    {% else %}
    {% comment %}
      <p>
        <a href="/admin/custom_collections">
          Add a product to the "frontpage" collection to see it here...
        </a>
      </p>
    {% endcomment %}
    {% endif %}
  </div>
</div>